@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="prime-brand">
        <img src="~/assets/IALogo.svg" id="prime-logo" /> 
        <h1 class="display-4">Impf App</h1>
    </div>    
    <div class="prime-content">
        <h3>Herzlich Willkommen</h3>
        <p>Dies ist die Home Seite, der als Projekt Impf App als Projektarbeit gebauten Anwendung
            zur Erfassung und Verwaltung von Impfterminen,<br /> geschrieben von Max Matthiolius
            und Jonas Pfalzgraf.
            <br />
            <br />
            Der vollständige Source Code steht auf <a target="_blank" href="https://github.com/FA91class/AS_5_Projekt">GitHub</a> zur Verfügung.
            <br />
            <h3>Nutzung</h3>
            Zur Nutzung der App bitten wir Sie, sich mit einem berechtigten Account einzuloggen.
        </p>
    </div>
</div>
