@model Impf_App.Models.Dashboard
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Dashboard";
}

@if (SignInManager.IsSignedIn(User))
{
<h1>@ViewData["Title"]</h1>

<div id="dashboard" class="container">
    <div id="dashboardSelect">
        <button class="btn" id="triggerDayDashboard">Day</button>
        <button class="btn" id="triggerWeekDashboard">Week</button>
    </div>
    <div id="dayDashboard" class="dashboard">
        @await Html.PartialAsync("_DayDashboard", Model)
    </div>
    <div id="weekDashboard" class="dashboard">
        @await Html.PartialAsync("_WeekDashboard", Model)
    </div>
</div>
} else {
    <div>
        @await Html.PartialAsync("_NoSignIn", Model)
    </div>
}
