@import "root"
@import "mixin"

#dashboardSelect
    @include shadow
    border-radius: 0.5em
    width: fit-content
    display: flex
    margin-top: 1em
    margin-bottom: 1em
    margin-left: -0.5em
