@model Impf_App.Models.Vaccine

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Impfstoff</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Beschreibung</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label">Hersteller</label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosis" class="control-label">Dosierung</label>
                <input asp-for="Dosis" class="form-control" />
                <span asp-validation-for="Dosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfApproval" class="control-label">Datum der Zulassung</label>
                <input asp-for="DateOfApproval" class="form-control" />
                <span asp-validation-for="DateOfApproval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

