@model Impf_App.Models.Vaccine
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
<h1>Delete</h1>

<h3>Sind sie sicher, dass sie den Eintrag löschen wollen?</h3>
<div>
    <h4>Impfstoff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Beschreibung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Hersteller
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            Dosierung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosis)
        </dd>
        <dt class = "col-sm-2">
            Datum der Zulassung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfApproval)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="form-delete">
        <input type="hidden" asp-for="P_VaccineId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </form>
</div>
} else {
    <div>
        @await Html.PartialAsync("_NoSignIn", Model)
    </div>
}
