@model Impf_App.Models.Doctor
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
<h1>Details</h1>

<div>
    <h4>Arzt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Vorname
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Nachname
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Titel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.P_DoctorId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
} else {
    <div>
        @await Html.PartialAsync("_NoSignIn", Model)
    </div>
}
